<!--
  Generated template for the MapsTabSearch page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Search..</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

	<ion-toolbar>
        <ion-item >
        	<ion-searchbar
			  [(ngModel)]="addressQuery"
			  [showCancelButton]="shouldShowCancel"
			  (ionInput)="onInput($event)"
			  (ionCancel)="onCancel($event)"
			  [placeholder]="searchBarPlaceHolder"
			  [debounce]=500>
			</ion-searchbar>

          <!-- <ion-input placeholder="Write a comment" [(ngModel)]="addressQuery"></ion-input> -->

	        <button *ngIf="!showSearchSpinner" ion-button light icon-left item-right outline icon-left color="primary" (click)="searchAddress()">
		      <!-- <ion-icon name='ios-search'></ion-icon> -->
		      Search
		    </button>
          
			<button *ngIf="showSearchSpinner" item-right clear icon-left style="background-color: #fff;">
				<ion-spinner color="primary" name="ios"></ion-spinner>
			</button>

        </ion-item>
  	</ion-toolbar>

	<ion-card>
	    <ion-card-header>
	      Header
	    </ion-card-header>
	    <ion-card-content>
	      The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.

	      <hr>

	      <div class="map-container">
	          <div id="map" style="width: 100%; height: 100%">
	          </div>
	      </div>

	    </ion-card-content>
	</ion-card>

</ion-content>
