<!--
  Generated template for the ClientPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-buttons end *ngIf="!isNew">
      <button ion-button (click)="toggleEdit()">
        <ion-icon name="ios-create-outline"></ion-icon>
      </button>
    </ion-buttons>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="isNew;else isClient" >{{ 'ADD_CLIENT_TITLE' | translate }}</ion-title>
    <ng-template #isClient>
        <ion-title *ngIf="isEdit;else edit">Edit {{ form.value.name }}</ion-title>
        <ng-template #edit>
            <ion-title>{{ form.value.name }}</ion-title>
        </ng-template>
    </ng-template>
    <ion-buttons end>
      
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <form *ngIf="form" [formGroup]="form" (ngSubmit)="createItem()">
    
    <ion-item-group>
      <ion-item-divider color="light">Client Info</ion-item-divider>
      <div class="profile-image-wrapper" (click)="getPicture('companyLogoFileInput')">
        <div class="profile-image-placeholder" *ngIf="!this.form?.value?.logo?.url">
          <ion-icon name="add"></ion-icon>
          <div>
            {{ 'TENANT_CREATE_CHOOSE_COMPANY_IMAGE' | translate }}
          </div>
        </div>
        <div class="profile-image" [style.backgroundImage]="getProfileImageStyle('logo')" *ngIf="this.form?.value?.logo?.url"></div>
      </div>
      <ion-item>
        <ion-label>
          {{ 'NAME' | translate }}
        </ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label item-start>
          {{ 'ADDRESS' | translate }}
        </ion-label>
        <ion-input type="text" formControlName="addressString">
          <ion-icon name='ios-power' item-start></ion-icon>
        </ion-input>
        <button ion-button clear icon-only item-end type="button" (click)="addMoreAddress()">
          <ion-icon name="ios-add-outline"></ion-icon>
        </button>
      </ion-item>
      
      <ion-item>
        <ion-label item-start>
          {{ 'EMAIL' | translate }}
        </ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
        <button ion-button clear icon-only item-end type="button" (click)="addMoreEmail()">
          <ion-icon name="ios-add-outline"></ion-icon>
        </button>
      </ion-item>

      <ion-item>
        <ion-label item-start>
          {{ 'PHONE' | translate }}
        </ion-label>
        <ion-input type="phone" formControlName="phone"></ion-input>
        <button ion-button clear icon-only item-end type="button" (click)="addMorePhone()">
          <ion-icon name="ios-add-outline"></ion-icon>
        </button>
      </ion-item>
    </ion-item-group>

    <ion-item-group *ngIf="isNew; else resetCredentials">
      <ion-item-divider color="light">Credentials</ion-item-divider>
      <ion-item>
        <ion-label>
          {{ 'USERNAME' | translate }}
        </ion-label>
        <ion-input type="text" formControlName="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label item-start>
          {{ 'PASSWORD' | translate }}
        </ion-label>
        <ion-input type="{{type}}" formControlName="password"></ion-input>
        <button ion-button clear icon-only item-end type="button" (click)="showPassword()">
          <ion-icon *ngIf="!showPass" name="ios-eye-outline"></ion-icon>
          <ion-icon *ngIf="showPass" name="ios-eye-off"></ion-icon>
        </button>
      </ion-item>
    </ion-item-group>
    <ng-template #resetCredentials>
      <button ion-button icon-left>
        <ion-icon name="ios-key-outline"></ion-icon>
        Reset Password
      </button>
    </ng-template>
    <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event,'profilePic')" />
    <input type="file" #companyLogoFileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event,'url')" />
  </form>

</ion-content>



<ion-footer *ngIf="isEdit || isNew">
  <ion-toolbar>
    <ion-buttons (click)="save()" end>
        <button ion-button icon-right >
          Save 
          <ion-icon name="ios-cloud-upload-outline"></ion-icon>
        </button>
      </ion-buttons>
    
  </ion-toolbar>
  
</ion-footer>