<ion-header>
  <ion-navbar>
    <ion-title>{{ 'TENANTS_TITLE' | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addTenant()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let item of tenantsProvider?.currentTenants">
      <button ion-item (click)="openTenant(item)">
        <ion-avatar item-start>
          <img src="{{item.get('logo')?._url}}" />
        </ion-avatar>
        <h2>{{item.get('companyName')}}</h2>
        <p>{{item.get('status')}}</p>
        <ion-note item-end *ngIf="item.id">{{item.id}}</ion-note>
      </button>
      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>